<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <h2>{{>header}} </h2>
    <div class="main">
        <div class="info">
            <h2>Name :{{name}}</h2>
            <h2>Version : {{version}}</h2>
            <h2>storage :{{storage}}</h2>
            <h2>Color : {{color}}</h2>
        </div>

        <div class="imag">
            <img src={{Imge}} alt="">
        </div>

    </div>

 <h2>{{>footer}} </h2>


</body>

</html>